.featured-dog {
  padding: $main-spacing;
  border: 1px solid $border-color;
  display: flex;
}

.featured-dog__wrapper {
  flex: 1;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.featured-dog__image {
  position: relative;
}

.featured-dog__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  padding: $main-spacing;
  margin: -5px;
  filter: blur(12px);
}
